#ddd1
{
border:1px;
padding:15px;
}
#img
{
float:left;
padding:14px;
}
#ddd3
{
background-color:gray;
margin:10px;
}
.classddd3
{
position:absolute;
top:100px;
left:100px;
height:470px;
width:470px;
}
